@font-face {
    font-family: "iconfont"; /* Project id  */
    src: url('iconfont.ttf?t=1682022313385') format('truetype');
  }
  
  .iconfont{font-family:"iconfont"!important;font-size:31px;font-style:normal;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
  
  .icon-qq:before {
    content: "\e614";
  }
  
  .icon-youxiang:before {
    content: "\e62e";
  }
  
  .icon-bilibili:before {
    content: "\e546";
  }
  
  